
<!-- TobBar -->
<div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar" data-dropdown="dropdown" >
        <div class="topbar-inner">
            <div class="container">
                <h3><a href="#">CloudCad</a></h3>
                <ul class="nav">
                    <li class="active"><a href="#">Project</a></li>
                    <li><a href="#">Edit</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">View</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">View 1</a></li>
                            <li><a href="#">View 2</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav secondary-nav">
                    <li >
                        <form class="pull-left" action="">
                            <input type="text" placeholder="Search" />
                        </form>
                    </li>
                    <li><a href="javascript:CC.views.gui.TopBar.help()">Help</a></li>
                </ul>
            </div>
        </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
</div><!-- /topbar-wrapper -->