.DS_Store
/Gemfile.lock
/log/development.log
/tmp/cache/assets/C68/
/tmp/cache/assets/C87/
/tmp/cache/assets/D4D/
/tmp/cache/assets/D84/210/sprockets%2Fabd0103ccec2b428ac62c94e4c40b384
/tmp/cache/assets/DBD/
/tmp/cache/assets/DC6/
/tmp/cache/assets/E04/890/sprockets%2F2f5173deea6c795b8fdde723bb4b63af
/tmp/cache/assets/E35/
tmp/*
/.bundle/
tmp/cache
app/assets/tags
tags
iOS app/cloudCad.xcodeproj/xcuserdata/
iOS app/cloudCad.xcodeproj/project.xcworkspace/xcuserdata/