<!DOCTYPE html>
<html>
<head>
  <title>Cad19</title>

  <link rel="stylesheet" type="text/css" href="/css/twitter-bootstrap/bootstrap.css" />
  <%= stylesheet_link_tag    "application" %>

  <!-- Libraries -->

  <script src='/js/Three.js' type='text/javascript'></script>
  <script src='/js/jquery.js' type='text/javascript'></script>

  <!-- Code -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
