<!DOCTYPE html>
<html>
<head>
  <title>Cad19</title>
  <%= stylesheet_link_tag    "application" %>

  <!-- Libraries -->
  <script src='/js/Three.js' type='text/javascript'></script>
  <!-- Code -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
