<!DOCTYPE html>
<html>
<head>
  <title>Cad19</title>
  <link rel='stylesheet' href='/js/ext-4.0.2a/resources/css/ext-all.css' type="text/css" />
  <%= stylesheet_link_tag    "application" %>

  <!-- Libraries -->
  <script src='/js/Three.js' type='text/javascript'></script>
  <script src='/js/ext-4.0.2a/ext-all-debug-w-comments.js' type='text/javascript'></script>
  <!-- Code -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
